<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
<!-- <h1 class="page-heading">Posts</h1> -->
  <table>
  <col width="75%">
  <col width="5%">
  <col width="20%">
   <tr>
    <td>
  {{ content }}
     </td>
     <td></td>
     <td valign="top"><b>Hot links</b>
       <ul class="post-list-hl" >
         <li><a href="CBsem">• Lab seminars</a></li>
         <li><a href="https://github.com/intbio/best_practices">• Best practices</a></li>
         
       </ul>
        <a class="twitter-timeline" data-width="100" data-height="600" data-theme="light" href="https://twitter.com/Intbiol?ref_src=twsrc%5Etfw">Tweets by Intbiol</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
       
     </td>
    </tr>
   </table>

  <ul class="post-list">
    {% for post in site.posts %}
    {% unless post.draft %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endunless %}
    {% endfor %}
  </ul>

 <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>

      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
<div class="home">

 
